{# index.twig #}
{% extends 'layout.twig' %}
{% block body %}
<h1>Offices search</h1>
                        <div><a href="{{ app.url_generator.generate('homepage') }}">Home</a> - <a href="{{ app.url_generator.generate('offices') }}">Offices</a></div>

{% endblock %}