{# index.html.twig #}
{% extends 'layout.html.twig' %}
{% block body %}
<h1>Offices in Belgium - Click on one of the following options:</h1>
<ul>
	<h2><li><a href="{{app.url_generator.generate('offices')}}">Offices</a></li></h2>
	<h2><li><a href="{{app.url_generator.generate('search')}}">Offices Search</a></li></h2>
</ul>
{% endblock %}