{# layout.twig #}
<!doctype html>
<html lang="en">
    <head>
        <title>Offices search</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>

{% block javascripts %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
{% endblock %}
