{# layout.twig #}
<!doctype html>
<html lang="en">
    <head>
        <title>Offices search</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        {% block javascripts %}
    	<script src="http://code.jquery.com/jquery-latest.js"></script>
{% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
         <div><a href="{{ app.url_generator.generate('homepage') }}">Home</a> - <a href="{{ app.url_generator.generate('offices') }}">Offices</a></div>
    </body>
</html>
