{% extends 'layout.twig' %}
{% block body %}
<h1>Office {{ office.id }}</h1>
<ul>
        <li>Id : {{ office.id }}</li>
        <li>Street : {{ office.street }}</li>
        <li>City : {{ office.city }}</li>
</ul>
{% endblock %}